@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

body {
  font-family: "Rubik", sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: #0ea5e9;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  text-align: center;
}

main {
  text-align: center;
  padding: 2rem;
}

.birth-day {
  margin: 1rem;
  border-radius: 0.5rem;
  border-color: white;
  width: 200px;
  height: 40px;
  text-align: center;
}

#check-btn {
  padding: 1rem 1rem;
}

button {
  border-radius: 0.5rem;
  border-color: white;
  width: 100px;
  height: 50px;
}

#showMessage {
  font-size: x-large;
  margin-bottom: 0.5rem;
}

footer {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: auto;
  padding: 0.2rem;
  gap: 1.5rem;
  background-color: #7c3aed;
}

.footer-heading {
  text-align: center;
}

ul {
  display: flex;
  justify-content: center;
}
.footer-list li {
  display: inline;
}

.links {
  padding: 1rem;
  text-decoration: none;
  font-weight: bold;
  color: white;
}
